@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-display: 'Teko', sans-serif;
  --color-brand-orange: #ff5722;
  --color-brand-gold: #f59e0b;
  --color-brand-dark: #09090b;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  background-color: #09090b;
  color: #ffffff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

